{% extends "base.html" %}

{% block page_content %}

<div class="col-md-8 col-sm-10 col-12 mx-auto my-auto text-center">
    <!--hero header-->
    <h1 class="heading-black text-capitalize">Chart page</h1>
    <p class="lead py-3">

        Chart Page is here:
    </p>

    <div id="container" style="width: 75%;">
    <canvas id="pie-chart"></canvas>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <script>

    var config = {
      type: 'pie',
      data: {
        datasets: [{
          data: {{ hits|safe }},
          // TO DO: Make variable backgroud color gradient based on number of books/subjects
          // backgroundColor: [
          //   '#696969', '#808080', '#A9A9A9', '#C0C0C0', '#D3D3D3'
          // ],
          label: 'Subjects'
        }],
        labels: {{ subj|safe }}
      },
      options: {
        responsive: true,
        onClick(e, activeElem) {
            // logic here to get labels(subj) and count (value)
            dataIndex = activeElem[0].index;
            label = e.chart.data.labels[dataIndex];
            value = e.chart.data.datasets[0].data[dataIndex];
            document.getElementById("modal-header").innerHTML = label;
          console.log(label, value);
          expound(label,value);
          $("#myModal").modal();

        }
      }
    };

    window.onload = function() {
      var ctx = document.getElementById('pie-chart').getContext('2d');
      window.myPie = new Chart(ctx, config);
    };

    //function to call views.py and pass label and count:
        function expound(label, value){
            $.ajax({
                type: "POST",
                // remember: url is url name
                url: "{% url 'chart_expound' %}",
                data: {
                  'label': label,
                  'value': value,
                  'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                dataType: "json",
                success: function(response) {
                  if (response.result == 'ok') {
                    console.log(response.message);
                    console.log(response.book_result);
                    // show first 10 books with this subject:
                    for (var i=0; i<10; i++){
                        var txt = txt + response.book_result[i].title + '<br/>';
                    };
                    console.log(txt);
                    document.getElementById("book_titles").innerHTML = txt;
                  } else {
                    console.log(response.message);

                  }
                }
            });
        }

  </script>


    <p>
        <a href="{% url 'landing_page' %}">Return to home</a>
    </p>
</div>



<div class="container">
  <!-- Trigger the modal with a button -->
   <!-- Modal -->
  <div class="modal fade text-dark" id="myModal" role="dialog">
    <div class="modal-dialog modal-dialog-centered">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
            <p id="modal-header" class="modal-title text-uppercase">Modal Header</p>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
         <!-- <p> Found books</p> -->
         <p id="book_titles"> </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

</div>

<script>
$(document).ready(function(){
  $("#myBtn").click(function(){
    $("#myModal").modal();
  });
});
</script>


{% endblock %}
