{% extends "base.html" %}

{% block page_content %}

<div class="col-md-8 col-sm-10 col-12 mx-auto my-auto text-center">
    <!--hero header-->
    <h1 class="heading-black text-capitalize">Chart page</h1>
    <p class="lead py-3">

        Chart Page is here:
    </p>

    <div id="container" style="width: 75%;">
    <canvas id="pie-chart"></canvas>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <script>

    var config = {
      type: 'pie',
      data: {
        datasets: [{
          data: {{ hits|safe }},
          // TO DO: Make variable backgroud color gradient based on number of books/subjects
          // backgroundColor: [
          //   '#696969', '#808080', '#A9A9A9', '#C0C0C0', '#D3D3D3'
          // ],
          label: 'Subjects'
        }],
        labels: {{ subj|safe }}
      },
      options: {
        responsive: true,
        onClick(e, activeElem) {
            // logic here to get labels(subj) and count (value)
            dataIndex = activeElem[0].index;
            label = e.chart.data.labels[dataIndex];
            value = e.chart.data.datasets[0].data[dataIndex];
          console.log(label, value);
          expound(label,value);
        }
      }
    };

    window.onload = function() {
      var ctx = document.getElementById('pie-chart').getContext('2d');
      window.myPie = new Chart(ctx, config);
    };

    //function to call views.py and pass label and count:
        function expound(label, value){
            $.ajax({
                type: "POST",
                // remember: url is url name
                url: "{% url 'chart_expound' %}",
                data: {
                  'label': label,
                  'value': value,
                  'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                dataType: "json",
                success: function(response) {
                  if (response.result == 'ok') {
                    console.log(response.message);
                    console.log(response.book_result)
                  } else {
                    console.log(response.message);

                  }
                }
            });
        }

  </script>


  <!-- ~~~~~~~~~~~~~~~modal stuff starts~~~~~~~~~~~~~~~~~~~~~~ -->

  <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

  <!-- ~~~~~~~~~~~~~~~modal stuff ends~~~~~~~~~~~~~~~~~~~~~~~~~ -->


    <p>
        <a href="{% url 'landing_page' %}">Return to home</a>
    </p>
</div>

{% endblock %}
